name: robot_ws

services:
  # =========================
  # Dev local (Mac M2) - ACCÈS VIA NAVIGATEUR
  # =========================
  rover:
    profiles: [dev]
    build:
      context: .
      dockerfile: .devcontainer/Dockerfile
      target: image-generic
      args:
        ROS_DISTRO: foxy
    image: rover:foxy-generic
    
    # Mode Bridge indispensable pour mapper le port 8080 proprement
    network_mode: bridge
    privileged: true

    # ✅ OPTIMISATION CRITIQUE POUR GAZEBO
    # Augmente la mémoire partagée pour éviter les crashs (lidar/caméra)
    shm_size: '2gb'
    
    ports:
      - "8080:8080"  # Accès Web (NoVNC)
      
    environment:
      - DISPLAY=:0
      - LIBGL_ALWAYS_SOFTWARE=1  # Force le rendu CPU (Vital pour Mac M1/M2)
      - ROS_DOMAIN_ID=7
      - SKIP_GIT=1               # On gère le code nous-mêmes en dev
      - TERM=xterm-256color      # Pour avoir les couleurs dans le terminal web
      
    volumes:
      # On monte tout le dossier pour avoir build/ install/ log/ accessibles depuis le Mac
      - type: bind
        source: .
        target: /workspaces/robot_ws
        
    # Lance le superviseur (VNC + Window Manager)
    command: ["/usr/bin/supervisord", "-c", "/etc/supervisor/conf.d/supervisord.conf"]

  # =========================
  # Exécution Jetson (Prod)
  # =========================
  rover-jetson:
    profiles: [jetson]
    build:
      context: .
      dockerfile: .devcontainer/Dockerfile
      target: image-jetson
    image: rover:foxy-jetson
    
    # Network Host : Indispensable pour parler au hardware réel
    network_mode: host
    privileged: true
    runtime: nvidia
    
    working_dir: /workspaces/robot_ws
    
    environment:
      - ROS_DOMAIN_ID=7
      # Pas de SKIP_GIT : La Jetson doit pouvoir se mettre à jour seule
      
    volumes:
      # Sur le robot, on ne monte QUE les sources.
      # Le build/install reste interne au conteneur (plus propre pour la prod)
      - ./src:/workspaces/robot_ws/src
      
    entrypoint: ["/entrypoint.sh"]
    command: ["bash","-lc","sleep infinity"]